{% extends 'base.html' %}
{% block body %}


<h1 class="h1">Send Bulk Mail: </h1>
<hr class="bg-success">

<div class="shadow p-3">
     <div class="row">
         <div class="col-sm-4">
             <h5 class="h5">Mail Templates</h5>
             <hr class="bg-success">
              {% for template in allmails %}
             <a class="text-success" href="/sendbuklemails/{{template.Tem_Id}}"> >>: {{template.Sub}}</a><br>
             {% endfor %}
         </div>
         <div class="col-sm-8">
             <form class="form-group" method="post" action="/hitbulkmail">
                <div class="row">
                     <div class="col-sm"><br>
                          <select class="form-control" name="" id="">
                     <option value="">Select Stream</option>
                      <option value="">JAVA Developer</option>
                      <option value="">PHP Developer</option>
                      <option value="">Python Developer</option>
                         <option value="">Fresher Elit 23</option>
                         <option value="">Fresher Velocity</option>
                 </select>
                     </div>
                     <div class="col-sm">
                         <span><b>Set Reminder:(Select If)</b></span><input class="form-control" name="rimtime" type="datetime-local"><br>
                     </div>
                 </div>

                 <input class="form-control" type="text"  name="subject" placeholder="Subject:" required><br>
                 <textarea class="form-control" name="editor1">{{selected_temp.Body}}</textarea>
                 <div class="row">
                     <div class="col-sm-4 pt-2">
                        <input type="checkbox" id="tampid" onclick="showinput();" name="onsave" value="Bike">
                            <label for="tampid"> Save as a Template.</label><br>

                     </div>
                     <div class="col-sm-8 pt-1">
                         <input class="form-control tampname d-none" type="text" name="templatename" placeholder="Template Name:"  >
                     </div>
                 </div>
                 <p class="text-right"><button class="btn btn-success btm-sm" type="submit" > Send </button>

             </form>
         </div>

     </div>

</div>



{% endblock %}